[[local|localrc]]
ADMIN_PASSWORD=password
DATABASE_PASSWORD=$ADMIN_PASSWORD
RABBIT_PASSWORD=$ADMIN_PASSWORD
SERVICE_PASSWORD=$ADMIN_PASSWORD
SERVICE_TOKEN=password

HOST_IP={{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}
MULTI_HOST=1

enable_service q-svc q-dhcp q-meta q-agt q-l3

enable_service s-proxy s-object s-container s-account
SWIFT_REPLICAS=1
SWIFT_HASH=password

enable_service zookeeper
disable_service c-bak c-vol n-cpu n-net
