[[local|localrc]]
ADMIN_PASSWORD=password
DATABASE_PASSWORD=$ADMIN_PASSWORD
RABBIT_PASSWORD=$ADMIN_PASSWORD
SERVICE_PASSWORD=$ADMIN_PASSWORD
SERVICE_TOKEN=password
SERVICE_HOST={{ hostvars[groups['control'][0]]['ansible_eth0']['ipv4']['address'] }}
DATABASE_TYPE=mysql
MYSQL_HOST=$SERVICE_HOST
RABBIT_HOST=$SERVICE_HOST
GLANCE_HOSTPORT=$SERVICE_HOST:9292
MULTI_HOST=1
HOST_IP={{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}
VNCSERVER_LISTEN=$HOST_IP
VNCSERVER_PROXYCLIENT_ADDRESS=$HOST_IP

## Neutron options
PUBLIC_INTERFACE=eth0
ENABLED_SERVICES=n-cpu,q-agt
